export C8X_NC_NAMESPACE=nextcloud
export C8X_NC_DOMAIN=cloud.example.com
export C8X_NC_REPLICAS=1
export C8X_NC_IMAGE=nextcloud:29-apache
export C8X_NC_STORAGE_SIZE=10Gi
export C8X_NC_STORAGE_CLASS=default
export C8X_NC_DB_NAME=nextcloud
export C8X_NC_DB_USER=nextcloud
export C8X_NC_DB_PASSWORD=changeme
export C8X_NC_DB_STORAGE_SIZE=5Gi
