C8X_WP_NAMESPACE=wordpress
C8X_WP_DOMAIN=blog.example.com
C8X_WP_REPLICAS=1
C8X_WP_IMAGE=wordpress:6.7-apache
C8X_WP_STORAGE_SIZE=10Gi
C8X_WP_STORAGE_CLASS=default
C8X_WP_DB_NAME=wordpress
C8X_WP_DB_USER=wordpress
C8X_WP_DB_PASSWORD=changeme
C8X_WP_DB_ROOT_PASSWORD=rootchangeme
C8X_WP_DB_STORAGE_SIZE=5Gi
