C8X_MON_NAMESPACE=monitoring
C8X_MON_GRAFANA_DOMAIN=grafana.example.com
C8X_MON_GRAFANA_ADMIN_PASSWORD=admin
C8X_MON_PROMETHEUS_STORAGE_SIZE=20Gi
C8X_MON_GRAFANA_STORAGE_SIZE=5Gi
C8X_MON_STORAGE_CLASS=default
C8X_MON_PROMETHEUS_RETENTION=15d
